body {
  background-color: lightslategray;
}

#display-chart-container {
  height: 100vh;
}

.display-chart {
  height: 50%;
}

/* screen sizes 700px and up */
/* @media screen and (min-width: 700px) {
    #display-chart-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    };
    .display-chart {
      flex: 1;
      flex-basis: 100%;
    }
  } */