.container {
    background-color: lightcoral;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* #chart-vaccines {
    height: 80vh;
} */

#more-info {
    background-color: lightgreen;
}